<nav class="header">
    <a href="index.html" class="header-brand">
        <img src="images/biggerfish-logo.png" loading="lazy" width="40" alt="Bigger Fish Logo" class="brand-logo">
        <div class="brand-text">
            <div class="brand-name">Bigger Fish Intelligent Automation</div>
        </div>
    </a>
    <ul class="nav-menu">
        <li><a href="index.html#why" class="nav-link">Why?</a></li>
        <li><a href="index.html#how" class="nav-link">How</a></li>
        <li class="nav-item-dropdown">
            <a href="index.html#what" class="nav-link">What</a>
            <div class="nav-dropdown-content">
                <a href="index.html#what" class="dropdown-link">Custom Web Applications</a>
                <a href="outcome-engineer.html" class="dropdown-link outcome">Outcome Engineer</a>
            </div>
        </li>
        <li><a href="https://deftpcdacdt.typeform.com/to/XYvx5lZI?utm_source=xxxxx" class="nav-cta" target="_blank"
                rel="noopener noreferrer">When?</a></li>
    </ul>
</nav>