/* ===== Digital Foreman Redesign - Coastal Architect Strategy ===== */
/* Refactored into Modules */

@import "modules/base.css";
@import "modules/typography.css";
@import "modules/components.css";
@import "modules/layout.css";
@import "modules/pages.css";